@import "tailwindcss";

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


:root{
  --bg: #f8fafc;
  --card: #ffffff;
  --text: #0f172a;
  --muted: #6b7280;
}
html.dark{
  --bg: #071028;
  --card: #071b2a;
  --text: #e6eef8;
  --muted: #9fb4c9;
}
body{
  background-color:var(--bg);
  color:var(--text);
  @apply antialiased;
}
